/* .FullMovie{
    height: 100vh;
}

.bg-image{
   opacity: 0.2; 
   height: 100vh;
}

.poster {
    width: 30%;
    height: 100vh;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
} */

.FullMovie{
    background-color: rgb(71, 71, 71);
    padding-top: 1rem;
}

.FM-title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
}

.bg-image{
    object-fit: cover; 
    max-height: 40rem;
    opacity: 0.1;
}
.poster{
    display: none;
}

/* .basic-info-movie{
    color: #6f6f6f;
} */

.genres{
    position: absolute;
    bottom: 1%;
    right: -1%;
}

.genres h6{
    writing-mode: vertical-rl;
}

/* .genres h6{
    /* position: absolute;
    bottom: 7%;
    right: 0;
    transform: rotate(-90deg); */
    /* transform: rotate(-90deg) translateX(50%);
    transform-origin: right bottom; */
/* 
    transform: rotate(-90deg) translateX(30%);
    transform-origin: right bottom;
    right: 2%;
    position: fixed;
    bottom: 50%;
} */ 

      

/* MEDIA QUERIES */

@media(min-width:425px){
    .bg-image{
        max-height: calc(100vh - 1rem);
    }
}

@media(min-width:768px){
    /* .poster{
        display: inline-block;
        width: 40%;
        height: 100vh;
        opacity: 0.5;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

    } */

    /* .card-img-overlay{
        right: 40% !important;
    } */

    .main-info{
        position: absolute;
        top: 25%;
        left: 10%;
    }

    .FM-title{
        font-size: 300%;
        text-align: initial;
        max-width: 70%;
        }

    .card-text{
        max-width: 60%; 
        text-align: initial;
    }

    .release-date{
        position: absolute;
    top: 10%;
    right: 15%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #847f12;
    }

    .date{
        font-size: 250%;
    }
    .date div:first-child{
        margin-bottom: -0.8rem;
    }
    .year{
     padding-left: 1rem;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    font-size: 110%;
    }

}

@media(min-width:1024px){
    .card-text{
        font-size: 150%;
    }
}