.Nav {
  background: rgb(30, 35, 35);
  background: linear-gradient(
    0deg,
    rgba(30, 35, 35, 0.08400446360184699) 1%,
    rgba(18, 22, 22, 0.8627159481956845) 29%,
    rgba(11, 13, 13, 1) 55%,
    rgba(0, 0, 0, 1) 85%
  );
}

.nav {
  margin-right: 2%;
}

.navbar {
  padding: 0 !important;
}

.nav-link {
  color: #c5c5c5;
  border-bottom: 2px transparent;
}

.nav-link:hover,
.nav-link:active {
  color: #c5c5c5;
  border-bottom: 2px solid #847f12;
}

.logo img {
  width: 70%;
}

.navbar-toggler {
  border: 0 !important;
}


/************** MEDIA QUERIES ****************/
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  .logo img {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px !important;
  }
}
